name: Update badges

on: 
  schedule:
    # Runs at 3pm UTC
    - cron: "0 15 * * *"
jobs:
  update-readme:
    name: Update Readme with badges
    runs-on: ubuntu-latest
    steps:
      - name: Badges - Readme
        uses: pemtajo/badge-readme@main
        with:       
          CREDLY_USER: jervlapsley # optional, but default will use the same from github
